
.alerts > ul {
  list-style: none;
  padding: 0;
}

.alert {
  margin: 0.5rem;
  padding: 0.5rem 0 0.8rem 0;
  display: flex;
  gap: 1em;
  border-bottom: 1px solid var(--bs-grey-3);
}

.alert h3 {
  margin: 0;
  font-size: 1.2em;
}

.alert p {
  margin: 0;
}

.alert svg {
  height: 30px;
  width: 30px;
  margin: 0.25em;
  flex: 0 0 auto;
}

.alert .icon{
    background-color: transparent;
}

.alert-information {
  color: var(--alert-information);
}
.alert-danger {
  color: var(--alert-danger);
}
.alert-closure {
  color: var(--alert-closure);
}
.alert-caution {
  color: var(--alert-caution);
}


.visior-services{
    border: 1px solid black;   
    margin: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}


.activities{
    border: 1px solid black;
    margin: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.alerts{
    padding-bottom: 1rem;
}

.alerts h2{
    padding-left: 4rem;
}